body { 
background-color: darkolivegreen;
color: rgb(255, 252, 84);
}

header {
border: solid 2px black;
font-size: 32px ;
padding: 10px;
color: rgb(0, 105, 105);
}
h1 {

  font-size: 30px;
 text-align: center;
   text-transform: uppercase;
}

p {
 font-size: 16px;
color: black;
}